* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.black_box {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(12, 8, 49);
    justify-content: space-between;
    text-align: center;
}

#navbar {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nav-items{
    width: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.nav-item{
    color: #D4DDEE;
    padding: 0.3%;
    align-self: center;
}

.nav-item:hover{
    background-color: #D4DDEE;
    color: #171717;
}

footer {
    margin-bottom: 0;
    background-color: rgba(128, 128, 128, 0.397);
}
